/* src/components/agent.css */

.agent-card {
  background: #ccacac;
  color: #333;
  max-width: 400px;
  margin: 30px auto;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.agent-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.agent-title {
  font-weight: 500;
  font-size: 16px;
  margin: 8px 0;
  color: #555;
}

.agent-contact {
  margin-top: 10px;
  font-size: 14px;
}

.agent-contact a {
  color: #0077cc;
  text-decoration: none;
}

.agent-socials {
  margin-top: 10px;
}

.agent-socials a {
  margin: 0 10px;
  text-decoration: none;
  color: #0077cc;
  font-weight: bold;
}
